html{
background-image : url(../Images/Fond.jpg);
background-color : #F7F7F7;
color : #777777;
font-size : 13px;
font-family : helvetica, sans-serif;
min-width : 450px;
}

body{
display : block;
color : rgb(119, 119, 119);
outline-color : rgb(119, 119, 119);
margin-left : 18%;
margin-right : 20%;
}

.container{
width : 1070px;
height : 142px;
}
.flottant{
float : left;}

.pres{
text-indent : 2em;
padding-left : 10em;
}

#logo{
float : left; /*l'image flotte à gauche de l'écran*/
width : 120px; /*l'image à une largueur de 120 pixels*/
height : 114px; /*l'image à une hauteur de 114 pixels*/
margin : 0px;
}

#flag{
float : right;
width : 80px;
height : 45px;
margin : 0px;
}

#menu{
width : 87%;
height : 10%;
float : right;
}

#menu a{ 
float : left;
color : rgb(241, 20, 49);
margin-top : 80px;
padding : 0px 30px 40px 30px;
width : 60px;
height : 22px;
font-size : 20px;
display : inline-block;
cursor : auto;
text-decoration:none
}

#separation { 
display : block;
height : 2px; 
width : 970px;
background-color : black;
}

#centre{
background: center center no-repeat url("../Images/Accueil.jpg");
background-size: 1000px 600px;
display : block;
height : 600px;
width : 1000px;

border-style: ridge;
border-width: 6px;
border-color: black;
border-radius:20px;
}

footer{
background-color: #FFFFFF;
margin-top: 30px;
width : 970px;
}

#sociaux {
background-color: #3D3C3F;
padding: 5px 0 5px;
text-align: center;
}

#sociaux a, #sociaux a:link, #sociaux a:visited, #sociaux a:active, #sociaux a:hover, #sociaux a:focus {
margin: 0 40px;
}

#face{
display : center; /*l'image flotte à gauche de l'écran*/
width : 50px; /*l'image à une largueur de 50 pixels*/
height : 50px; /*l'image à une hauteur de 50 pixels*/
margin : 0px;
}
#twitt{
display : center; /*l'image flotte à gauche de l'écran*/
width : 50px; /*l'image à une largueur de 50 pixels*/
height : 50px; /*l'image à une hauteur de 50 pixels*/
margin : 0px;
}

#contact{
width : 60%;
display : center;
height : 40%;
vertical-align : top;
position : relative;
}
#acces{
position : relative;
height : 40%;
width : 60%;}

.flotte {
float:left;
}